<link rel="stylesheet" href="/css/chatting_engine.css">


<div id="chatting-box">
    <div id="chatting-link">
        <a href="#chatting-engine">
            Chat With Us!
            <i class="far fa-comments fa-lg"></i>
        </a>
    </div>
    
    <div id="chatting-engine">
        <a href="#">
            <i class="fas fa-times"></i>
        </a>

        <ul class="chat-message-list">
            <li class="other-message">
                <span>Other Message</span>
            </li>
            <li class="self-message">
                <span>Self Message</span>
            </li>
        </ul>

        <div class="input-area">
            <input type="text" id="chat-message-input" placeholder="Enter message here..">
            <button type="submit" id="send-message" class="btn-block btn-outline-secondary">SEND</button>
        </div>
    </div>
</div>