<link rel="stylesheet" href="/css/ask_reset_password.css">

<h2><%= title %></h2>

<form id="ask_reset_password" action="/users/password-reset-request" method="POST">
    <label>Enter the registered email address to get the reset password link</label>
    <br>
    <input type="email" name="email" required>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>