<div>
    <% if ( resetToken.isValid ) { %>
        <form action="/users/new-password/<%= resetToken.id %>" method="POST">
            <label>New Password</label>
            <input type="password" name="new_password" required>
            <label>Confirm Password</label>
            <input type="password" name="confirm_new_password" required>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
    <% } else { %>
        <h4>Session Expired!</h4>
    <% } %>
</div>