.footer{
    background-color: rgb(195, 222, 231);
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h6{
    position: relative;
    margin: 20px;
    text-align: center;
    color: brown;
    top: 80%;
}