body{
    background: none;
}

.container{
    
    .center_align{
        text-align: center;  

        img {
            border-radius: 50%;
            height: 155px;
            width: 175px;
        }
    }

    #preview{
        background-color: lightgray;
        width: 100;
    }
}

