body{
    background: none;
}

.container{
    margin-top: 20px;
    
    .center_align{
        text-align: center;
    }

    #preview{
        
    }

}

#preview{
    background-color: lightgray;
    width: 100;
}