<div>
    <p>Hi <%= resetToken.user.name %>,</p>
    <p>To reset your password <a href="http://localhost:8000/users/reset-password/<%= resetToken.id %>" target="_blank">click here</a> </p>
    <p>Thanks!</p>
</div>