body {
  background: none; }

.container .center_align {
  text-align: center; }
  .container .center_align img {
    border-radius: 50%;
    height: 155px;
    width: 175px; }

.container #preview {
  background-color: lightgray;
  width: 100; }
